/* -------------------- VARIABLES */

:root{
    --main-color: #111111;

}

/* -------------------- GLOBAL DEFAULTS */

body {
    background-color: var(--main-color);
    color: #444444;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    box-sizing: border-box; 
}

img {
    max-width: 100%;
}

header img {
    border-style: none;
}



/* -------------------- HEADINGS AND TYPE */

h1 {
    font-family: Agency FB, 'Teko', sans-serif;
    color: var(--main-color);
    font-size: 80px;
    line-height: 20mm;
}

h1-1{
    font-family: Agency FB, 'Teko', sans-serif;
    color: #b3b3b3;
    font-size: 12px;
    line-height: 0px;
}

/*Problem: Font used for TBD logo has massive spacing below the text.
Find out how to decrease said spacing*/

h2 {
    font-family: 'Teko', sans-serif;
    color: #111111;
    font-size: 40px;
    font-weight: 100;
    line-height: 10px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #444444;
    font-size: 40px;
    padding-top: 10px;
    margin-bottom: 15px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #969696;
    font-size: 15px;
}

h5 {
    font-family: 'Teko',sans-serif;
    font-style: normal;
    color: #969696;
    font-size: 25px;
}

/* -------------------- LAYOUTS */
.content{
    background-color: #f5f5f5;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
}

.contentabout{
    background-color: #f5f5f5;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
}

/* -------------------- HEADER */
header{
    background-color: var(--main-color);
    background-image: url(../TBDLogo.png);
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: -15px;
    margin-left: -10px;
    margin-right: -10px;

}

header h1 {
   margin-top: 0; 
   
}

/* -------------------- NAVIGATION */
ul {
    position: sticky;
     top: 0;
     width: 100%;
     height: 1%;
    list-style-type: none;
    margin: 100;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }
  
  li {
    color: #f1f1f1;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: 'Teko',sans-serif;
    padding-left: 350px;
    margin-bottom: -30px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 28px 32px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    margin-left: 30px;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 30px;
    border: none;
    outline: none;
    color: white;
    text-align: center;
    padding: 28px 32px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(0, 0, 0);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  
/* -------------------- FOOTER */

footer{
    background-color: #050505;
    margin-left: -10px;
    margin-right: -10px;
    margin-block-start: -15px;
    margin-bottom: -10px;
    max-width: 100%;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}

/* -------------------- MODULES */
.left {
    float: left;
    padding: 0px 15px 15px 0px;
    align-items: left;
}
.right{
    float: right;
    padding: 0 -10%;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
 
  input[type=submit] {
    background-color: rgb(109, 109, 109);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
 
  input[type=submit]:hover {
    background-color: #b3b3b3;
  }
  
  .container {
    width: 700px;
    margin: auto;
    border-radius: 5px;
    background-color: #3a1111;
    padding: 20px;
    background-color: #f5f5f5;
    text-align: left;
  }

  a{
    color: #444444;
  }

