/* -------------------- VARIABLES */

/* -------------------- GLOBAL DEFAULTS */

body {
    background-color: #111111;
    color: #b1b1b1;
    font-family: Arial, Helvetica, sans-serif;

}

img {
    max-width: 100%;

}

/* -------------------- HEADINGS AND TYPE */

h1 {
    font-family: Agency FB, 'Teko', sans-serif;
    color: #f0f0f0;
    font-size: 80px;
}

h2 {
    font-family: 'Teko', sans-serif;
    color: #f0f0f0;
    font-size: 40px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #eeeeee
}

/* -------------------- LAYOUTS */
.content{
    background-color: #202020;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
}

/* -------------------- HEADER */

header{
    background-color: #050505;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

footer{
    background-color: #050505;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

/* -------------------- MODULES */




